<!-- app.component.html -->
<div class="app-container">
  <header>
    <h1>Microfrontend App</h1>
  </header>

  <div class="menu-container">
    <div class="menu-toggle">☰ Toggle Menu</div>

    <div *ngIf="" class="menu">
      <button>Menu Item 1</button>
      <button>Menu Item 2</button>
      <button>Menu Item 3</button>
    </div>
  </div>

  <main>
    <!-- Contenido principal de tu aplicación -->
    <h2>Contenido Principal</h2>
    <p>Aquí irá el contenido de tu aplicación.</p>
  </main>
</div>
